# configured for 2 core cpu and 4 gb of ram
services:
  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    network_mode: host
    command: >
      proxy-dns
      --port 5054
      --address 0.0.0.0
      --upstream https://pleaseusecloudflarezerotrust.cloudflare-gateway.com/dns-query
      #--upstream https://cloudflare-dns.com/dns-query
      --max-upstream-conns 50

    healthcheck:
      test: ["CMD", "cloudflared", "version"]
      interval: 1s
      timeout: 3s
      retries: 5
      start_period: 0s
    restart: unless-stopped
    mem_limit: 512m
    cpus: 0.5

  pihole:
    image: pihole/pihole:latest
    container_name: pihole
    network_mode: host
    depends_on:
      cloudflared:
        condition: service_healthy
    environment:
      TZ: "Asia/Kolkata"

      # DNS
      DNSMASQ_LISTENING: "all"
      PIHOLE_DNS_: "127.0.0.1#5054"
      DNS_FQDN_REQUIRED: "false"
      DNS_BOGUS_PRIV: "false"

    volumes:
      - ./etc-pihole:/etc/pihole
      - ./etc-dnsmasq.d:/etc/dnsmasq.d

    healthcheck:
      test: ["CMD-SHELL", "dig +short @127.0.0.1 google.com || exit 1"]
      interval: 5s
      timeout: 2s
      retries: 2
      start_period: 2s
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    mem_limit: 3g

  wg-easy:
    image: ghcr.io/wg-easy/wg-easy:15
    container_name: wg-easy
    environment:
      - INSECURE=true
    networks:
      core_net:
        ipv4_address: 10.42.42.42
        ipv6_address: fdcc:ad94:bacf:61a3::2a
    volumes:
      - etc_wireguard:/etc/wireguard
      - /lib/modules:/lib/modules:ro
    ports:
      - "51820:51820/udp"
      - "51821:51821/tcp"
    healthcheck:
      test: ["CMD-SHELL", "wg show || exit 1"]
      interval: 5s
      timeout: 2s
      retries: 2
      start_period: 2s
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    sysctls:
      net.ipv4.ip_forward: 1
      net.ipv4.conf.all.src_valid_mark: 1
      net.ipv6.conf.all.disable_ipv6: 0
      net.ipv6.conf.all.forwarding: 1
      net.ipv6.conf.default.forwarding: 1
      net.ipv4.tcp_congestion_control: bbr

volumes:
  etc_wireguard:

networks:
  core_net:
    driver: bridge
    enable_ipv6: true
    ipam:
      driver: default
      config:
        - subnet: 10.42.42.0/24
        - subnet: fdcc:ad94:bacf:61a3::/64
